body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.text span {
    color: brown;
    font-size: 25px;
}

h3 {
    color: blueviolet;
}

.text {
    font-size: 25px;
}

section {
    display: flex;
    margin-bottom: 70px;

}

.half-of-width {
    width: 50%;
    padding-left: 5%;

}

.half-of-width img {
    width: 50%;
    padding-right: 5%;
    padding-top: 1%;
}

.link-button {
    background-image: linear-gradient(orange, red);
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
}

.first-part {
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
    padding: 0%;
}

.second-part h1 {
    color: black;
}

.second-part {
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}